In [13]:
print("begin")

begin

In [30]:
# imports for this function
import os, pandas as pd, numpy as np
# define the path to the data
file_path = "../data/raw/NorthwindTradersTables.xlsx"
def read_xlsx(file_path):
    """
    Reads an XLSX file and saves each sheet as a separate dataframe in the folder 'extracted_dfs'.

    Parameters:
        file_path (str): Path to the XLSX file.

    Returns:
        dict: A dictionary with sheet names as keys and the corresponding dataframes as values.
    """
    # Create a folder to store the extracted dataframes
    if not os.path.exists("extracted_dfs"):
        os.mkdir("extracted_dfs")
    # Load the XLSX file using
    xlsx = pd.ExcelFile(file_path)
    # Create a dictionary to store the dataframes
    dfs = {}
    # Iterate over the sheet names
    for sheet_name in xlsx.sheet_names:
        print(f'Reading sheet {sheet_name}...')
        try:
            # Read the sheet into a dataframe
            df = pd.read_excel(xlsx, sheet_name=sheet_name)
            # Add the dataframe to the dictionary
            dfs[sheet_name] = df
            # pickle the dataframe and save it in extracted_dfs with the name of the sheet
            df.to_pickle(f"extracted_dfs/{sheet_name}.pkl")
        except Exception as e:
            print(f"Error reading sheet {sheet_name}: {e}")
    # Return the dictionary 
    return dfs

In [31]:
# Read in the data
dfs = read_xlsx(file_path)
# show one of the dataframes head
dfs

Reading sheet Customers...
Reading sheet Employee_Privileges...
Reading sheet Employees...
Reading sheet Inventory_Transaction_Types...
Reading sheet Inventory_Transactions...
Reading sheet Invoices...
Reading sheet Order_Details_Status...
Reading sheet Order_Details...
Reading sheet Orders_Status...
Reading sheet Orders_Tax_Status...
Reading sheet Orders...
Reading sheet Privileges...
Reading sheet Products...
Reading sheet Purchase_Order_Details...
Reading sheet Purchase_Order_Status...
Reading sheet Purchase_Orders...
Reading sheet Sales_Reports...
Reading sheet Shippers...
Reading sheet Strings...
Reading sheet Suppliers...

{'Customers':     ID     Company         Last Name     First Name  E-mail Address  \
 0    1   Company A            Bedecs           Anna             NaN
 1    2   Company B  Gratacos Solsona        Antonio             NaN
 2    3   Company C              Axen         Thomas             NaN
 3    4   Company D               Lee      Christina             NaN
 4    5   Company E         O’Donnell         Martin             NaN
 5    6   Company F      Pérez-Olaeta      Francisco             NaN
 6    7   Company G               Xie      Ming-Yang             NaN
 7    8   Company H          Andersen      Elizabeth             NaN
 8    9   Company I         Mortensen           Sven             NaN
 9   10   Company J            Wacker         Roland             NaN
 10  11   Company K           Krschne          Peter             NaN
 11  12   Company L           Edwards           John             NaN
 12  13   Company M            Ludick          Andre             NaN
 13  14   Company N             Grilo         Carlos             NaN
 14  15   Company O           Kupkova         Helena             NaN
 15  16   Company P       Goldschmidt         Daniel             NaN
 16  17   Company Q             Bagel  Jean Philippe             NaN
 17  18   Company R     Autier Miconi      Catherine             NaN
 18  19   Company S           Eggerer      Alexander             NaN
 19  20   Company T                Li         George             NaN
 20  21   Company U              Tham        Bernard             NaN
 21  22   Company V             Ramos        Luciana             NaN
 22  23   Company W             Entin        Michael             NaN
 23  24   Company X        Hasselberg          Jonas             NaN
 24  25   Company Y            Rodman           John             NaN
 25  26   Company Z               Liu            Run             NaN
 26  27  Company AA               Toh          Karen             NaN
 27  28  Company BB            Raghav      Amritansh             NaN
 28  29  Company CC               Lee       Soo Jung             NaN

                     Job Title Business Phone  Home Phone  Mobile Phone  \
 0                       Owner  (123)555-0100         NaN           NaN
 1                       Owner  (123)555-0100         NaN           NaN
 2   Purchasing Representative  (123)555-0100         NaN           NaN
 3          Purchasing Manager  (123)555-0100         NaN           NaN
 4                       Owner  (123)555-0100         NaN           NaN
 5          Purchasing Manager  (123)555-0100         NaN           NaN
 6                       Owner  (123)555-0100         NaN           NaN
 7   Purchasing Representative  (123)555-0100         NaN           NaN
 8          Purchasing Manager  (123)555-0100         NaN           NaN
 9          Purchasing Manager  (123)555-0100         NaN           NaN
 10         Purchasing Manager  (123)555-0100         NaN           NaN
 11         Purchasing Manager  (123)555-0100         NaN           NaN
 12  Purchasing Representative  (123)555-0100         NaN           NaN
 13  Purchasing Representative  (123)555-0100         NaN           NaN
 14         Purchasing Manager  (123)555-0100         NaN           NaN
 15  Purchasing Representative  (123)555-0100         NaN           NaN
 16                      Owner  (123)555-0100         NaN           NaN
 17  Purchasing Representative  (123)555-0100         NaN           NaN
 18       Accounting Assistant  (123)555-0100         NaN           NaN
 19         Purchasing Manager  (123)555-0100         NaN           NaN
 20         Accounting Manager  (123)555-0100         NaN           NaN
 21       Purchasing Assistant  (123)555-0100         NaN           NaN
 22         Purchasing Manager  (123)555-0100         NaN           NaN
 23                      Owner  (123)555-0100         NaN           NaN
 24         Purchasing Manager  (123)555-0100         NaN           NaN
 25       Accounting Assistant  (123)555-0100         NaN           NaN
 26         Purchasing Manager  (123)555-0100         NaN           NaN
 27         Purchasing Manager  (123)555-0100         NaN           NaN
 28         Purchasing Manager  (123)555-0100         NaN           NaN

        Fax Number          Address            City State/Province  \
 0   (123)555-0101   123 1st Street         Seattle             WA
 1   (123)555-0101   123 2nd Street          Boston             MA
 2   (123)555-0101   123 3rd Street     Los Angelas             CA
 3   (123)555-0101   123 4th Street        New York             NY
 4   (123)555-0101   123 5th Street     Minneapolis             MN
 5   (123)555-0101   123 6th Street       Milwaukee             WI
 6   (123)555-0101   123 7th Street           Boise             ID
 7   (123)555-0101   123 8th Street        Portland             OR
 8   (123)555-0101   123 9th Street  Salt Lake City             UT
 9   (123)555-0101  123 10th Street         Chicago             IL
 10  (123)555-0101  123 11th Street           Miami             FL
 11  (123)555-0101  123 12th Street       Las Vegas             NV
 12  (123)555-0101  456 13th Street         Memphis             TN
 13  (123)555-0101  456 14th Street          Denver             CO
 14  (123)555-0101  456 15th Street        Honolulu             HI
 15  (123)555-0101  456 16th Street   San Francisco             CA
 16  (123)555-0101  456 17th Street         Seattle             WA
 17  (123)555-0101  456 18th Street          Boston             MA
 18  (123)555-0101  789 19th Street     Los Angelas             CA
 19  (123)555-0101  789 20th Street        New York             NY
 20  (123)555-0101  789 21th Street     Minneapolis             MN
 21  (123)555-0101  789 22th Street       Milwaukee             WI
 22  (123)555-0101  789 23th Street        Portland             OR
 23  (123)555-0101  789 24th Street  Salt Lake City             UT
 24  (123)555-0101  789 25th Street         Chicago             IL
 25  (123)555-0101  789 26th Street           Miami             FL
 26  (123)555-0101  789 27th Street       Las Vegas             NV
 27  (123)555-0101  789 28th Street         Memphis             TN
 28  (123)555-0101  789 29th Street          Denver             CO

     ZIP/Postal Code Country/Region  Web Page  Notes  Attachments
 0             99999            USA       NaN    NaN          NaN
 1             99999            USA       NaN    NaN          NaN
 2             99999            USA       NaN    NaN          NaN
 3             99999            USA       NaN    NaN          NaN
 4             99999            USA       NaN    NaN          NaN
 5             99999            USA       NaN    NaN          NaN
 6             99999            USA       NaN    NaN          NaN
 7             99999            USA       NaN    NaN          NaN
 8             99999            USA       NaN    NaN          NaN
 9             99999            USA       NaN    NaN          NaN
 10            99999            USA       NaN    NaN          NaN
 11            99999            USA       NaN    NaN          NaN
 12            99999            USA       NaN    NaN          NaN
 13            99999            USA       NaN    NaN          NaN
 14            99999            USA       NaN    NaN          NaN
 15            99999            USA       NaN    NaN          NaN
 16            99999            USA       NaN    NaN          NaN
 17            99999            USA       NaN    NaN          NaN
 18            99999            USA       NaN    NaN          NaN
 19            99999            USA       NaN    NaN          NaN
 20            99999            USA       NaN    NaN          NaN
 21            99999            USA       NaN    NaN          NaN
 22            99999            USA       NaN    NaN          NaN
 23            99999            USA       NaN    NaN          NaN
 24            99999            USA       NaN    NaN          NaN
 25            99999            USA       NaN    NaN          NaN
 26            99999            USA       NaN    NaN          NaN
 27            99999            USA       NaN    NaN          NaN
 28            99999            USA       NaN    NaN          NaN  ,
 'Employee_Privileges':    Employee ID  Privilege ID
 0            2             2,
 'Employees':    ID            Company       Last Name First Name  \
 0   1  Northwind Traders       Freehafer      Nancy
 1   2  Northwind Traders         Cencini     Andrew
 2   3  Northwind Traders           Kotas        Jan
 3   4  Northwind Traders       Sergienko     Mariya
 4   5  Northwind Traders          Thorpe     Steven
 5   6  Northwind Traders         Neipper    Michael
 6   7  Northwind Traders            Zare     Robert
 7   8  Northwind Traders        Giussani      Laura
 8   9  Northwind Traders  Hellung-Larsen       Anne

                  E-mail Address              Job Title Business Phone  \
 0    nancy@northwindtraders.com   Sales Representative  (123)555-0100
 1   andrew@northwindtraders.com  Vice President, Sales  (123)555-0100
 2      jan@northwindtraders.com   Sales Representative  (123)555-0100
 3   mariya@northwindtraders.com   Sales Representative  (123)555-0100
 4   steven@northwindtraders.com          Sales Manager  (123)555-0100
 5  michael@northwindtraders.com   Sales Representative  (123)555-0100
 6   robert@northwindtraders.com   Sales Representative  (123)555-0100
 7    laura@northwindtraders.com      Sales Coordinator  (123)555-0100
 8     anne@northwindtraders.com   Sales Representative  (123)555-0100

       Home Phone  Mobile Phone     Fax Number         Address      City  \
 0  (123)555-0102           NaN  (123)555-0103  123 1st Avenue   Seattle
 1  (123)555-0102           NaN  (123)555-0103  123 2nd Avenue  Bellevue
 2  (123)555-0102           NaN  (123)555-0103  123 3rd Avenue   Redmond
 3  (123)555-0102           NaN  (123)555-0103  123 4th Avenue  Kirkland
 4  (123)555-0102           NaN  (123)555-0103  123 5th Avenue   Seattle
 5  (123)555-0102           NaN  (123)555-0103  123 6th Avenue   Redmond
 6  (123)555-0102           NaN  (123)555-0103  123 7th Avenue   Seattle
 7  (123)555-0102           NaN  (123)555-0103  123 8th Avenue   Redmond
 8  (123)555-0102           NaN  (123)555-0103  123 9th Avenue   Seattle

   State/Province  ZIP/Postal Code Country/Region  \
 0             WA            99999            USA
 1             WA            99999            USA
 2             WA            99999            USA
 3             WA            99999            USA
 4             WA            99999            USA
 5             WA            99999            USA
 6             WA            99999            USA
 7             WA            99999            USA
 8             WA            99999            USA

                                             Web Page  \
 0                      #http://northwindtraders.com#
 1  http://northwindtraders.com#http://northwindtr...
 2  http://northwindtraders.com#http://northwindtr...
 3  http://northwindtraders.com#http://northwindtr...
 4  http://northwindtraders.com#http://northwindtr...
 5  http://northwindtraders.com#http://northwindtr...
 6  http://northwindtraders.com#http://northwindtr...
 7  http://northwindtraders.com#http://northwindtr...
 8  http://northwindtraders.com#http://northwindtr...

                                                Notes  Attachments
 0                                                NaN          NaN
 1  Joined the company as a sales representative, ...          NaN
 2  Was hired as a sales associate and was promote...          NaN
 3                                                NaN          NaN
 4  Joined the company as a sales representative a...          NaN
 5  Fluent in Japanese and can read and write Fren...          NaN
 6                                                NaN          NaN
 7                           Reads and writes French.          NaN
 8                       Fluent in French and German.          NaN  ,
 'Inventory_Transaction_Types':    ID  Type Name
 0   1  Purchased
 1   2       Sold
 2   3    On Hold
 3   4      Waste,
 'Inventory_Transactions':      Transaction ID  Transaction Type Transaction Created Date  \
 0                35                 1      2006-03-22 16:02:28
 1                36                 1      2006-03-22 16:02:48
 2                37                 1      2006-03-22 16:03:04
 3                38                 1      2006-03-22 16:03:09
 4                39                 1      2006-03-22 16:03:14
 ..              ...               ...                      ...
 97              132                 2      2006-04-04 11:42:17
 98              133                 2      2006-04-04 11:42:24
 99              134                 2      2006-04-04 11:42:48
 100             135                 2      2006-04-04 11:43:05
 101             136                 3      2006-04-25 17:04:05

     Transaction Modified Date  Product ID  Quantity  Purchase Order ID  \
 0         2006-03-22 16:02:28          80        75                NaN
 1         2006-03-22 16:02:48          72        40                NaN
 2         2006-03-22 16:03:04          52       100                NaN
 3         2006-03-22 16:03:09          56       120                NaN
 4         2006-03-22 16:03:14          57        80                NaN
 ..                        ...         ...       ...                ...
 97        2006-04-04 11:42:26           3        50                NaN
 98        2006-04-04 11:42:26           8         3                NaN
 99        2006-04-04 11:43:08          20        40                NaN
 100       2006-04-04 11:43:08          52        40                NaN
 101       2006-04-25 17:04:57          56       110                NaN

      Customer Order ID Comments
 0                  NaN      NaN
 1                  NaN      NaN
 2                  NaN      NaN
 3                  NaN      NaN
 4                  NaN      NaN
 ..                 ...      ...
 97                 NaN      NaN
 98                 NaN      NaN
 99                 NaN      NaN
 100                NaN      NaN
 101                NaN      NaN

 [102 rows x 9 columns],
 'Invoices':     Invoice ID  Order ID        Invoice Date  Due Date  Tax  Shipping  \
 0            5        31 2006-03-22 16:08:59       NaN    0         0
 1            6        32 2006-03-22 16:10:27       NaN    0         0
 2            7        40 2006-03-24 10:41:41       NaN    0         0
 3            8        39 2006-03-24 10:55:46       NaN    0         0
 4            9        38 2006-03-24 10:56:57       NaN    0         0
 5           10        37 2006-03-24 10:57:38       NaN    0         0
 6           11        36 2006-03-24 10:58:40       NaN    0         0
 7           12        35 2006-03-24 10:59:41       NaN    0         0
 8           13        34 2006-03-24 11:00:55       NaN    0         0
 9           14        33 2006-03-24 11:02:02       NaN    0         0
 10          15        30 2006-03-24 11:03:00       NaN    0         0
 11          16        56 2006-04-03 13:50:15       NaN    0         0
 12          17        55 2006-04-04 11:05:04       NaN    0         0
 13          18        51 2006-04-04 11:06:13       NaN    0         0
 14          19        50 2006-04-04 11:06:56       NaN    0         0
 15          20        48 2006-04-04 11:07:37       NaN    0         0
 16          21        47 2006-04-04 11:08:14       NaN    0         0
 17          22        46 2006-04-04 11:08:49       NaN    0         0
 18          23        45 2006-04-04 11:09:24       NaN    0         0
 19          24        79 2006-04-04 11:35:54       NaN    0         0
 20          25        78 2006-04-04 11:36:21       NaN    0         0
 21          26        77 2006-04-04 11:36:47       NaN    0         0
 22          27        76 2006-04-04 11:37:09       NaN    0         0
 23          28        75 2006-04-04 11:37:49       NaN    0         0
 24          29        74 2006-04-04 11:38:11       NaN    0         0
 25          30        73 2006-04-04 11:38:32       NaN    0         0
 26          31        72 2006-04-04 11:38:53       NaN    0         0
 27          32        71 2006-04-04 11:39:29       NaN    0         0
 28          33        70 2006-04-04 11:39:53       NaN    0         0
 29          34        69 2006-04-04 11:40:16       NaN    0         0
 30          35        67 2006-04-04 11:40:38       NaN    0         0
 31          36        42 2006-04-04 11:41:14       NaN    0         0
 32          37        60 2006-04-04 11:41:45       NaN    0         0
 33          38        63 2006-04-04 11:42:26       NaN    0         0
 34          39        58 2006-04-04 11:43:08       NaN    0         0

     Amount Due
 0            0
 1            0
 2            0
 3            0
 4            0
 5            0
 6            0
 7            0
 8            0
 9            0
 10           0
 11           0
 12           0
 13           0
 14           0
 15           0
 16           0
 17           0
 18           0
 19           0
 20           0
 21           0
 22           0
 23           0
 24           0
 25           0
 26           0
 27           0
 28           0
 29           0
 30           0
 31           0
 32           0
 33           0
 34           0  ,
 'Order_Details_Status':    Status ID Status Name
 0          0        None
 1          1   Allocated
 2          2    Invoiced
 3          3     Shipped
 4          4    On Order
 5          5    No Stock,
 'Order_Details':     ID  Order ID  Product ID  Quantity  Unit Price  Discount  Status ID  \
 0   27        30          34       100       14.00         0          2
 1   28        30          80        30        3.50         0          2
 2   29        31           7        10       30.00         0          2
 3   30        31          51        10       53.00         0          2
 4   31        31          80        10        3.50         0          2
 5   32        32           1        15       18.00         0          2
 6   33        32          43        20       46.00         0          2
 7   34        33          19        30        9.20         0          2
 8   35        34          19        20        9.20         0          2
 9   36        35          48        10       12.75         0          2
 10  37        36          41       200        9.65         0          2
 11  38        37           8        17       40.00         0          2
 12  39        38          43       300       46.00         0          2
 13  40        39          48       100       12.75         0          2
 14  41        40          81       200        2.99         0          2
 15  42        41          43       300       46.00         0          1
 16  43        42           6        10       25.00         0          2
 17  44        42           4        10       22.00         0          2
 18  45        42          19        10        9.20         0          2
 19  46        43          80        20        3.50         0          1
 20  47        43          81        50        2.99         0          1
 21  48        44           1        25       18.00         0          1
 22  49        44          43        25       46.00         0          1
 23  50        44          81        25        2.99         0          1
 24  51        45          41        50        9.65         0          2
 25  52        45          40        50       18.40         0          2
 26  53        46          57       100       19.50         0          2
 27  54        46          72        50       34.80         0          2
 28  55        47          34       300       14.00         0          2
 29  56        48           8        25       40.00         0          2
 30  57        48          19        25        9.20         0          2